
@model CodeIt.Models.Comment
@{
    ViewBag.Title = "Create Comment";
}
<div class="space20"></div>

@using (Html.BeginForm("Comment", "Code", FormMethod.Post))
{

<div class="container">

        <div class="form-group">
            @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Content, new { @class = "form-control" })

        </div>
</div>
    <br>
    <div class="container">
        <input type="submit" value="Comment" class="btn btn-primary" />
    </div>
}
