
@{
    ViewBag.Title = "About";
}
<br/>
<br/>
<div class="jumbotron" style="padding-top: 40px">
    <h1 class="text-center space20">Varna Team</h1>
    <div class="space20"></div>
    <div class="space20"></div>
    <div class="space20"></div>

    <h3 style="margin-bottom:0">Hello!</h3>
    <p class="lead"> We are Softuni students and this is our first team project.</p>
    <div>

        <p style="font-family:Tahoma">
            The aim of our project is to create ASP.net MVC app wich could be helpful for programers.
            This app give you the opportunity to create your own profile and paste your codes in order ask people for code problems or just
            to use app like a storege for useful solutions. Here you can edit and delete your own posts and comment the pastes of other users. Also
            if you dont want to use profile options you can just paste code like a guest user and for example, copy the link and send it or poste it anywhere else.
            The guest paste can also can be commented.
        </p>
    </div>

    <p> Team members:</p>
       
    <br><br>
    <center>
        <table border="2" width=300>
            <tr>
                <td align=center>
                    <a href=" https://github.com/viktorMirev" target="_blank">
                        <img src="https://avatars0.githubusercontent.com/u/17138404?v=3&s=400.jpg" alt="Viktor" style="width:200px;height:200px;"><p>Viktor Mirev</p>
                    </a>
                </td>
                <td align="center">
                    <a href="https://github.com/varbanov88" target="_blank">
                        <img src="https://avatars3.githubusercontent.com/u/20975938?v=3  &s=400" alt="Borislav" style="width:200px;height:200px;"><p>Borislav Varbanov</p>
                    </a>
                </td>
                <td align=Center>
                    <a href="http://github.com/atanasovMartin" target="_blank">
                        <img src="https://avatars0.githubusercontent.com/u/25207743?v=3&s=460" alt="Martin" style="width:200px;height:200px;"><p>Martin Atanasov</p>
                    </a>
                </td>
            </tr>
        </table>
        <br><br>
    </center>

</div>
