@{
    ViewBag.Title = "Home Page";
}

<section class="dark-translucent-bg pv-30" style="background-image: url(images/coding-924920_960_720.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center"><strong>Code</strong> It</h2>
                <div class="separator"></div>
                <p class="large text-center">This app gives you the opportunity to create your own profile and paste your codes in order to ask programmers for help to solve problems in the code or just to use the app as a storage for useful solutions. You can edit and delete your own posts and comment the pastes of other users. Also if you don't want to use profile options you can just paste code as guest user, copy the link and send it or poste it anywhere else. The guest paste can also be commented.</p>
            </div>
            <div class="col-md-6 ">
                <div class="pv-30 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <h3>Create New Paste</h3>
                    <div class="separator clearfix"></div>
                    <p>After you are logged in, use the button below to create new paste which will be stored in your profile</p>
                    <a class="btn btn-gray-transparent radius-50 btn-animated" href="/Code/Create">Paste Now &raquo; <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="pv-30 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <h3>Guest Paste</h3>
                    <div class="separator clearfix"></div>
                    <p>If you don't want to register or log in, you can use the button below to create paste, which will be stored in All Guest Pastes</p>
                    <a class="btn btn-gray-transparent radius-50 btn-animated" href="/Code/CreateAsGuest">Paste As Guest &raquo;<i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>






