@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron" style="padding-top: 40px">
    <h1>Code it</h1>
    <p class="lead">Code It is a free online database where you can paste your code.</p>
    <p><a href="/Code/Create" class="btn btn-primary btn-lg">Paste Now &raquo;</a></p>
</div>


   

  

    
